<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../mycss.css" rel="stylesheet" />
    <link href="../common.css" rel="stylesheet" />
    <script src="../javascript/write.js" defer></script>
  </head>
  <body>
    <section class="wrap">
      <article class="wrap" id="header"></article>
      <hr class="horizontal-rule" />

      <div class="board">
        <form
          id="bbs_Form"
          method="post"
        >
          <div id="write-post">
            <!-- fetch append -->
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
