.mlp10 {
  margin-left: 10px;
}
.mlp20 {
  margin-left: 20px;
}
.mlp30 {
  margin-left: 30px;
}

.mrp10 {
  margin-right: 10px;
}
.mrp20 {
  margin-right: 20px;
}
.mrp30 {
  margin-right: 30px;
}

.mtp10 {
  margin-top: 10px;
}
.mtp20 {
  margin-top: 20px;
}
.mtp30 {
  margin-top: 30px;
}

.mbp10 {
  margin-bottom: 10px;
}
.mbp20 {
  margin-bottom: 20px;
}
.mbp30 {
  margin-bottom: 30px;
}
